//================================================== VARIABLES
$ink:#232F3E;
//================================================== OTHER MIXINS
@mixin Filter($filter) {
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -ms-filter: $filter;
    -o-filter: $filter;
    filter: $filter;
}

@mixin textShadow($shadow) {
    -webkit-text-shadow: $shadow;
    -moz-text-shadow: $shadow;
    -o-text-shadow: $shadow;
    -ms-text-shadow: $shadow;
    text-shadow: $shadow;
}

@mixin Transform ($anim) {
    -webkit-transform: $anim;
    -moz-transform: $anim;
    -o-transform: $anim;
    -ms-transform: $anim;
    transform: $anim;
}

@mixin borderRadius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin boxShadow ($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin uiTransition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}



/* ------------------------------------------------------ */
/* KEYFRAMES WITH PREFIXES */
/* ------------------------------------------------------ */

/* WEBKIT */
@-webkit-keyframes screen-in {
	0% {
		opacity: 0;
		-webkit-transform: perspective(1200px) rotateX(50deg) translateY(80px) scale(0);
	}
	60% {
		opacity: 1;
		-webkit-transform: perspective(1200px) rotateX(-4deg) translateY(-10px) scale(1.02);
	}
	100% {
		opacity: 1;
		-webkit-transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
	}
}

/* MOZ */
@-moz-keyframes screen-in {
	0% {
		opacity: 0;
		-moz-transform: perspective(1200px) rotateX(90deg) translateY(80px) scale(0);
	}
	60% {
		opacity: 1;
		-moz-transform: perspective(1200px) rotateX(-4deg) translateY(-10px) scale(1.02);
	}
	100% {
		opacity: 1;
		-moz-transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
	}
}

/* MS (IE10+) */
@-ms-keyframes screen-in {
	0% {
		opacity: 0;
		-ms-transform: perspective(1200px) rotateX(90deg) translateY(80px) scale(0);
	}
	60% {
		opacity: 1;
		-ms-transform: perspective(1200px) rotateX(-4deg) translateY(-10px) scale(1.02);
	}
	100% {
		opacity: 1;
		-ms-transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
	}
}

/* STANDARD */
@keyframes screen-in {
	0% {
		opacity: 0;
		transform: perspective(1200px) rotateX(90deg) translateY(80px) scale(0);
	}
	60% {
		opacity: 1;
		transform: perspective(1200px) rotateX(-4deg) translateY(-10px) scale(1.02);
	}
	100% {
		opacity: 1;
		transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
	}
}


/* ========================= SCREEN OUT (REVERSE) ========================= */
/* WebKit */
@-webkit-keyframes screen-out {
	0% {
		opacity: 1;
		-webkit-transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
		-ms-transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
		transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
	}
	40% {
		opacity: 1;
		-webkit-transform: perspective(1200px) rotateX(-8deg) translateY(-10px) scale(1.02);
		-ms-transform: perspective(1200px) rotateX(-8deg) translateY(-10px) scale(1.02);
		transform: perspective(1200px) rotateX(-8deg) translateY(-10px) scale(1.02);
	}
	100% {
		opacity: 0;
		-webkit-transform: perspective(1200px) rotateX(50deg) translateY(80px) scale(0);
		-ms-transform: perspective(1200px) rotateX(50deg) translateY(80px) scale(0);
		transform: perspective(1200px) rotateX(50deg) translateY(80px) scale(0);
	}
}

/* Standard */
@keyframes screen-out {
	0% {
		opacity: 1;
		-webkit-transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
		-ms-transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
		transform: perspective(1200px) rotateX(0deg) translateY(0) scale(1);
	}
	40% {
		opacity: 1;
		-webkit-transform: perspective(1200px) rotateX(-8deg) translateY(-10px) scale(1.02);
		-ms-transform: perspective(1200px) rotateX(-8deg) translateY(-10px) scale(1.02);
		transform: perspective(1200px) rotateX(-8deg) translateY(-10px) scale(1.02);
	}
	100% {
		opacity: 0;
		-webkit-transform: perspective(1200px) rotateX(50deg) translateY(80px) scale(0);
		-ms-transform: perspective(1200px) rotateX(50deg) translateY(80px) scale(0);
		transform: perspective(1200px) rotateX(50deg) translateY(80px) scale(0);
	}
}


@-webkit-keyframes speechBubbleIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 24px, 0) scale(0.8);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -4px, 0) scale(1.02);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) scale(1);
	}
}

@-moz-keyframes speechBubbleIn {
	0% {
		opacity: 0;
		-moz-transform: translate3d(0, 24px, 0) scale(0.8);
	}
	60% {
		opacity: 1;
		-moz-transform: translate3d(0, -4px, 0) scale(1.02);
	}
	100% {
		opacity: 1;
		-moz-transform: translate3d(0, 0, 0) scale(1);
	}
}

@-o-keyframes speechBubbleIn {
	0% {
		opacity: 0;
		-o-transform: translate3d(0, 24px, 0) scale(0.8);
	}
	60% {
		opacity: 1;
		-o-transform: translate3d(0, -4px, 0) scale(1.02);
	}
	100% {
		opacity: 1;
		-o-transform: translate3d(0, 0, 0) scale(1);
	}
}

@keyframes speechBubbleIn {
	0% {
		opacity: 0;
		transform: translate3d(0, 24px, 0) scale(0.8);
	}
	60% {
		opacity: 1;
		transform: translate3d(0, -4px, 0) scale(1.02);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1);
	}
}
